body {
    background-color: #f8f9fa;
}

#results {
    margin-top: 30px;
}

.product {
    background-color: white;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.product p {
    font-size: 16px;
}

/* Hover-Effekt für Produkte */
.product:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}
